.square_container {
  width : 130px;
  height: 130px;
  border: 1px solid black;

  &.Fima {
    box-shadow: inset 0px 0px 15px #FFD700, inset 0px 0px 30px #FFD700;
  }

  &.Kris {
    box-shadow: inset 0px 0px 15px #39FF14, inset 0px 0px 30px #39FF14;
  }

  &.Tema {
    box-shadow: inset 0px 0px 15px #007BFF, inset 0px 0px 30px #007BFF;
  }

  &.Anya {
    box-shadow: inset 0px 0px 15px #FF00FF, inset 0px 0px 30px #FF00FF;
  }

  &.active {
    box-shadow  : inset 0px 0px 15px #00ffff, inset 0px 0px 15px #00ffff;
    border-color: #00ffff;

    &:hover {
      border-color: white;
      cursor      : pointer;
    }
  }
}
